@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    margin:0;
    scroll-behavior:smooth;
    box-sizing: border-box;
    
}
/*TOP most header starting point*/
.top_header{
    background-color: #e74694;
    min-height:51px;
    background-image:url(header.png);
    background-size:300px 300px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size:0.9rem;
    flex-wrap: wrap; 
    position: 9999;
}

.top_header_text{
    color:white;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.top_header_text:hover{
    cursor: pointer;
}


/*TOP most header ending point*/
nav{
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'poppins', sans-serif;
    width: 100%;
    height:95px;
    
}

nav .page_container{
    line-height: 80px;
    width: 1200px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    
} 

nav .logo{
    display: flex;
    align-items: center;
    width:180px;
}
nav .nav_logo{
    align-items: center;
    display: flex;
    justify-content: center;
}
.title{
    color:#183b56;
    padding-left:10px;
    padding-right:7px;
    background-size: 140px 140px;
    background-image:url(https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5af982d4779b5a83a3802100_become-a-teste.svg);
    background-repeat: no-repeat;
    font-size:14px;
    background-position: 50% 50%;
}
.title:hover{
    cursor:pointer;
}
.logo.image{
    width:100%;
}

.nav.list{
    padding-right:10px;
}

.nav.list #unordered_list{
    justify-content: center;
    align-items: center;
    display: flex;
    gap:1.8rem;

}
.nav.list #unordered_list:hover{
    cursor: pointer;
}

.nav.list #unordered_list li{
    color: #183b56;
    list-style: none;
    
}

.nav.list #unordered_list li:hover{
    cursor:pointer;
    color:#2294ed;
}


.sign_in{
    width:100px;
    font-size:.9em;
    height:45px;
    background-color: transparent;
    border:1px solid rgb(118, 147, 171);
    border-radius: 4px;
    font-family: 'poppins', sans-serif;
    transition: 0.4s;
}

.sign_in:hover{
    color:#2294ed;
    border:1px solid #2294ed;
    cursor: pointer;
}
.sign_up{
    width:100px;
    font-size:.9em;
    height:45px;
    background-color: #2294ed;
    color:white;
    border-radius: 4px;
    border:0;
    font-family: 'poppins', sans-serif;
    box-shadow: 1px 2px 5px 0px rgb(207, 207, 207);
    transition: .3s;
}

.sign_up:hover{
    background-color:#1c74b8;
    cursor: pointer;
}

.hamburger{
    font-size:18px;
    display: none;
}





/*TOP most header ending point*/


/*Content Box 1 starting point*/
#content_box1{
    display: flex;
    justify-content: center;
    margin-top:50px;
  
}

#content_box1 .page_container{
    
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap:1.8rem;
    width: 1200px;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
}

#content_box1 #heading{
    max-width:460px;
}

#heading h1{

    font-size:46px;
    font-family: 'poppins',sans-serif;
    color:#183b56;
    font-weight:400;
    margin-bottom:20px;
}

#heading p{
    padding:3px;
    font-size:20px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: light;
    color:rgb(62, 81, 93);
    line-height:1.5;
}

#get_started{
    margin-left: 3px;
    margin-top: 30px;
    width:145px;
    font-size:.9em;
    height:50px;
    background-color: #2294ed;
    color:white;
    border-radius: 4px;
    border:0;
    font-family: 'poppins', sans-serif;
    box-shadow: 1px 2px 5px 0px rgb(207, 207, 207);
    transition: .3s;
}
#get_started:hover{
    background-color:#1c74b8;
    cursor: pointer;
}
/*Content Box1 ending point*/

/*Content bottom box start*/
#bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 75px;
}
#bottom .page_container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
    gap:1.8rem;
    width: 1230px;
    max-width: 1230px;
    padding-left: 20px;
    padding-right: 20px;
}
.bottom_text{
    font-size:18px;
    font-family: 'poppins',sans-serif;
    font-weight: 400;
    color:#183b56;
}

.brand_logos{
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    gap: 3.8rem;
    flex-wrap:wrap;
    padding-left:3px;
    padding-right:3px;
}

.brand_logos li{    
    list-style: none;
}
.logo{
    max-height: 46px;
}
/*Content bottom box ends*/





/*wrapper starts here*/

.wrapper{
    background-image: url(blob.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size:650px;
}

.swiss_army_knife{
    margin-top:200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.swiss_army_knife .page_container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
}
.swiss_head{
        font-family: 'poppins',sans-serif;
        font-size: 32px;
        color:#183b56;
}
.swiss_button{
        width:185px;
        height:45px;
        color:#183b56;
        font-size:15px;
        border:1px solid #b9cde4;
        font-family: 'poppins',sans-serif;
        border-radius: 4px;
        background-color: transparent;
        margin-bottom:30px;
        transition: .4s;
}
.swiss_button:hover{
    border:1px solid #2294ed;
    color:#2294ed;
    cursor: pointer;
}

.methodologies{
    display: flex;
    justify-content: center;
   
}

.methodologies .page_container{
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1050px;
    min-height: 500px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap:50px;
}
.mehtodology{
    text-align: center;
    max-width: 300px;
    font-size:20px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.method_head{
    font-size:21px;
    font-family: 'poppins',sans-serif;
}

.method_content{
    margin-top: 10px;
    color:#577592;
    line-height: 1.7;
    font-size: 18px;
    
}
.learn_more{
    width:155px;
    height: 45px;
    color:#183b56;
    font-size:15px;
    border:1px solid #b9cde4;
    font-family: 'poppins',sans-serif;
    border-radius: 4px;
    background-color: transparent;
    transition: .4s;
    
}
.learn_more:hover{
    border:1px solid #2294ed;
    color:#2294ed;
    cursor: pointer;

}
.arrow{
    color:#2294ed;
}
.spacer{
    margin-top: 20px;
}

    
/*Wrapper ends here*/


/*Content Box2 starting point*/
#content_box2{
    display: flex;
    justify-content: center;
    margin-top:160px;
    width: 100%;
}

#content_box2 .page_container{

    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;

}

.text.one{
    flex-wrap: wrap;
    color:#183b56;
    font-family: 'poppins',sans-serif;
    font-size:18px;
    margin-bottom:10px;
}

.text.two{
    flex-wrap: wrap;
    color:#183b56;
    font-family: 'poppins',sans-serif;
    font-size:32px;
}

.text.three{
    flex-wrap: wrap;
    line-height: 1.5;
    color:#577592;
    font-weight: 400;
    font-family: 'poppins',sans-serif;
    font-size:19px;
    margin-bottom: 20px;
    
}

.box2_text{
    max-width:480px;

}

.chartmogul{
    overflow: clip;
    width:100px;
    margin-bottom:30px;
}

 .text.four{
    font-size: 18px;
    font-family: 'poppins',sans-serif;
    color:#183b56;
}

.sub_content_box2{
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap:15px;
}

.officer_name{
    color:#183b56;
    font-size: 18px;
    font-family: 'poppins',sans-serif;
    display: block;
    line-height: 1.4;
}

.officer_post{
    color:#183b56;
    font-size: 13px;
    font-family: 'poppins',sans-serif;
    display: inline-block;
}
/*Contetnt Box2 Ending point*/

/*Content Box3 Starting Point*/
#content_box3{
    display: flex;
    justify-content: center;
    margin-top:90px;
    gap:5%;
    max-height: max-content;
    width: 100%;
}


#content_box3 .page_container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding-left:20px;
    padding-right:20px;
}

#content_box3 .box2_text{
    max-width:450px;
  
}
#content_box3 .text.four{
    margin-top:25px;
}
/*Content Box3 Ending Ppoint*/

/**/

#content_box4{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width:100%;
}

#content_box4 .page_container{
  
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding-left:20px;
    padding-right:20px;
}

#content_box4 .box2_text{
    max-width:450px;
  
}
#content_box4 .text.four{
    margin-top:25px;
}
/**/



/**/
#content_box5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:100px;
}

#content_box5 .page_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top:100px;
    max-width: 1200px;
    width:100%;
    padding-left:20px;
    padding-right:20px;
}
  

#content_box5 #heading h1{
    font-size:35px;
}

.boxes{
    display: flex;
    gap:1.3rem;
    width:100%;
    max-width: 1200px;
    justify-content: center;
    gap:1rem;
}

.box{
    position: relative;
    width:280px;
    height:340px;
    color:#fff;
    font-size: 20px;
    font-family: 'poppins',sans-serif;
    transition: 0.5s;
}
.box:hover{
    box-shadow: 0 0 14px 0px rgb(94, 94, 94);
    cursor: pointer;
}

.box.one{
    background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.8)),url(box_image1.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}
.box.two{
    background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.8)),url(box_image2.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}
.box.three{
    background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.8)),url(box_image3.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}
.box.four{
    background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.8)),url(box_image4.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}


.box_text{
    position: absolute;
    padding:19px;
    left:0px;
    bottom:0;
}

/**/


/**/
.subfooter.box{
    margin-top:70px;
    display: flex;
    width:100%;
    min-height: 600px;
    background-color: #183b56;
    justify-content: center;
    align-items: center;
    height: auto;
}

.subfooter.box .page_container{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    padding-left:20px;
    padding-right:20px;
}
.subfooter.text .subfooter.heading{
    margin-bottom:15px;
    font-size:40px;
    color:white;
    font-family: 'poppins', sans-serif;
}
.subfooter.line.one{
    margin-bottom:25px;
    color:#b9cde4;
    line-height: 1.8;
    max-width:600px;
    font-size:19px;
    font-family: 'poppins',sans-serif;
}
.subfooter.line.two{
    margin-bottom: 25px;
    color:white;
    font-size:18px;
    font-family: 'poppins',sans-serif;
}

.subfooter.list{
    display: flex;
    max-width: 600px;
}

.subfooter.feature.lists ul{
    padding-left:0;
    padding:15px;
}

.subfooter.feature.lists ul li{
    padding:5px;
    list-style: disc;
    color:#b9cde4;
    font-size:15px;
    font-family: 'poppins', sans-serif;
}

.subfooter_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.subfooter_bottom #heading h1{
    font-size:40px;
    margin-bottom:15px;
}
.subfooter_bottom #get_started{
    margin-top: 5px;
}

/**/

/**/
.bottom_subfooter{
    display: flex;
    justify-content: center;
    width:100%;

}

.subfooter_pagecontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    color:#183b56;
    font-family: 'poppins',sans-serif;
}

.subfooter_line_one{
    margin-top:100px;
    color:#183b56;
    font-size:35px;
   
}

.subfooter_line_two{
    margin-top: 30px;
    color: #577592;
    font-size:20px;
}

.bottom_subfooter{
    margin-bottom:100px;
}

/**/


/*Footer Box*/
.footer_box{
    min-height:470px;
    width: 100%;
    display: flex;
    justify-content: center;
   
    background-color: #ebf2fa;
    flex-direction: column;
    align-items: center;
}

.footer_box_page_container{
    display: flex;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right:20px ;

 
}

.footer_box_one{
    justify-content: space-between;
    display: flex;
    gap:7rem;
    margin-top:100px;
}

.footer_box .footer_box_page_container .footer_box_one .footer_unordered_list{ 
    color:#183b56;
    font-size:20px;
    font-family: 'poppins',sans-serif;
}

.footer_box .footer_box_page_container .footer_box_one .footer_unordered_list li{
    color:#577592;
    list-style: none;
    font-size: 16px;
    line-height: 1.8;

}

 .column.one .footer_unordered_list li:hover{
    color:#2294ed;
    cursor: pointer;
}

.column.two .footer_unordered_list li:hover{
    color:#2294ed;
    cursor: pointer;
}

.column.three .footer_unordered_list li:hover{
    color:#2294ed;
    cursor:pointer;
}
.column.four .footer_unordered_list li:hover{
    color:#2294ed;
    cursor:pointer;
}

.footer_box_two{
    background-color: #b9cde4;
    width: 100%;
    justify-content: center;
    display: flex;
    gap:7rem;
    align-items: center;
    min-height:65px;
    margin-top:90px;

}

.footer_box_two .footer_unordered_list{
    display:flex;
    justify-content: space-between;
    gap:2rem;

}
.social_platforms{
    display: flex;
    gap:2rem;
    color:#577592;
}

.social_platforms p{
    font-size:18px;
}
.social_platforms p:hover{
    cursor: pointer;
}

.footer_box_two .footer_unordered_list{
    cursor: pointer;
}
.footer_box_two .footer_unordered_list li:hover{
    color:#2294ed;
    cursor: pointer;
}


.footer_box_two .footer_unordered_list li{
    font-size:14px;
    font-family: 'poppins',sans-serif;
    list-style: none;
    color: #183b56;
}
/* */



#imageOne{
    max-width: 100%;
    height: auto;
    width:auto\9;
}
.footer_unordered_list li{
    list-style: none;
    font-size:15px;
    font-family: 'poppins',sans-serif;
    list-style: none;
    color: #183b56;
    
}
.footer_unordered_list{
    font-size:20px;
    font-family: 'poppins',sans-serif;

}
/*Cross Device*/
@media only screen and (max-width: 980px) {
   
    .nav.list #unordered_list{
        display: none;
    }
    

    .title{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .footer_box_one{
        gap:3rem;
    }
  
}
  @media only screen and (max-width: 800px) {

    .footer_box_one{
        gap:1.8rem;
    }
  }

  @media only screen and (max-width: 780px) {
   
    #content_box1 .page_container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items:center;
        
    }
    #content_box1 #heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 700px;
      
    }
    #content_box1 #heading h1{
        font-size:38px;
        width:100%;
        text-align: center;
    }
    #content_box1 #heading p{
        width: 100%;
        text-align: left;
        font-size:16px;
    }


    #content_box2{
        margin-top: 100px;
    }
    #content_box2 .page_container{
        flex-direction: column;
        align-items: center;
    }
    
    #content_box2 .page_container .box2_text{
        max-width: 600px;
  
    }
    #content_box3{
        margin-top: 100px;

    }
    #content_box3 .page_container{
        
        flex-direction: column;
        align-items: center;
    }

    #content_box3 .page_container .box2_text{
        max-width: 600px;

    }
    #content_box4{
        margin-top: 100px;
    }
    #content_box4 .page_container{
        flex-direction: column;
        align-items: center;
    }

    #content_box4 .page_container .box2_text{
        max-width: 600px;

    }
    .footer_box_two .social_platforms{
        gap:.8rem;
    }
    .footer_box_one{
        gap:0rem;
    }
    .subfooter.box .page_container{
        flex-direction: column-reverse;
        align-items: center;
        justify-items: center;
    }
    .subfooter.image #imageOne{
        width:400px;
    }
    .subfooter.text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subfooter.text .subfooter.heading{
        font-size: 34px;
        text-align: center;
    }
    .footer_box .footer_box_page_container .footer_box_one{
        flex-direction: column;
        text-align: center;
    }

    .column.one{
        margin-bottom:25px;
    } 
    .column.two{
        margin-bottom:25px;
    } 
    .column.three{
        margin-bottom:25px;
    } 
    .column.four{
        margin-bottom:25px;
    } 
    .footer_box_two{
        flex-direction: column;
        gap:1rem;
    }
    .footer_box_one{

        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .text.three{
        font-size:16px;
    }
    .text.two{
        font-size: 28px;
    }
    .subfooter_line_two{
        text-align: center;
    }
    .swiss_head{
        text-align: center;
    }
  }


  @media only screen and (max-width: 470px) {
    .footer_box_two{
        align-items: center;
        justify-content: center;
        gap:1rem;
    }
    .footer_box_two .footer_unordered_list{
        flex-direction: column;
        gap:.7rem;
        text-align: center;
    
    }
    .social_platforms p{

        text-align: center;
        font-size: 40px;
    }
    .top_header_text{
        font-size: 14px;
        text-align: center;
    }
    .swiss_head{
        text-align: center;
    }
    .brand_logos{
        gap:1rem;
    }
  }

a{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

.sign_in a{
    color:#183b56
}

.sign_up a{
    color:whitesmoke
}



/* width */
::-webkit-scrollbar {
    width:0;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }